.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c8e;
    color: white;
}

.Courses {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 100px;
    padding: 0 20px;
    flex-wrap: wrap;
}

.genai {
    width: 300px;
    height: 400px;
    background-color: white;
    border: 1px solid #E6EBDF;
    padding: 20px;
    transition: all 0.3s ease; 
    cursor: pointer;
}

.genai:hover {
    transform: scale(1.05);
}


img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.info {
    font-size: 22px;
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 600px) {
    .Courses {
        flex-direction: column;
        align-items: center;
    }

    .genai {
        width: 90%;
        height: auto;
    }

    .info {
        font-size: 18px;
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .Courses {
        justify-content: center;
        flex-wrap: wrap;
    }

    .genai {
        width: 45%;
    }
}