<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" href="/static/css/geneai.css">
</head>
<body>
    <div class="nav">
        <h1>Courses</h1>
    </div>

    <ul class="Courses">

    <li>
        <a href="/templates/ai.html">
            <div class="genai">
                <img src="" alt="AI Course" />
                <h1>AI Course</h1>
            </div>
        </a>
    </li>

    <li>
        <a href="/templates/idc.html">
            <div class="genai">
                <img src="" alt="IDC Course" />
                <h1>IDC</h1>
            </div>
        </a>
    </li>

    <li>
        <a href="/templates/ibm.html">
            <div class="genai">
                <img src="" alt="IBM Skills" />
                <h1>IBM SKILLS</h1>
            </div>
        </a>
    </li>

</ul>


</body>
</html>