<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" href="/static/css/geneai.css">
</head>
<body>
    <div class="nav">
        <h1>Courses</h1>
    </div>

    <div class="Courses">
        <a href="https://ai-admissions.wethinkcode.co.za/?_gl=1*8f82eq*_gcl_au*Nzc5MDI5NDMuMTc3NDk0NjYxMg..">
            <div class="genai">
                <img src="" alt="" />
                <h1>Gen AI</h1>
                <p class="info">Transform Your Career with AI Mastery</p>
            </div>
        </a>

        <a href="https://ai-admissions.wethinkcode.co.za/?_gl=1*8f82eq*_gcl_au*Nzc5MDI5NDMuMTc3NDk0NjYxMg..">
            <div class="genai">
                <img src="" alt="" />
                <h1>Gen AI</h1>
                <p class="info">Transform Your Career with AI Mastery</p>
            </div>
        </a>

        <a href="https://ai-admissions.wethinkcode.co.za/?_gl=1*8f82eq*_gcl_au*Nzc5MDI5NDMuMTc3NDk0NjYxMg..">
            <div class="genai">
                <img src="" alt="" />
                <h1>Gen AI</h1>
                <p class="info">Transform Your Career with AI Mastery</p>
            </div>
        </a>
    </div>
</body>
</html>